body{
    margin:0;
    background:#111;
    color:#fff;
    font-family:Arial,sans-serif;
}

header{
    padding:20px;
}

h1{
    color:#8a2be2;
}

#search{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    margin-top:10px;
}

#anime-list{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
    gap:20px;
    padding:20px;
}

.card{
    background:#222;
    border-radius:12px;
    overflow:hidden;
}

.card img{
    width:100%;
    height:260px;
    object-fit:cover;
}

.card h3{
    padding:10px;
    font-size:16px;
}

.card p{
    padding:0 10px 10px;
}