*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#111;
color:white;
}

header{
padding:20px;
background:#181818;
position:sticky;
top:0;
}

header h1{
color:#7c3aed;
margin-bottom:15px;
}

#search{
width:100%;
padding:12px;
border:none;
border-radius:10px;
font-size:16px;
}

#anime-list{
padding:15px;
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
}

.card{
background:#222;
border-radius:15px;
overflow:hidden;
}

.card img{
width:100%;
display:block;
}

.card h3{
padding:10px;
font-size:15px;
}